In [22]:
import pandas as pd
import numpy as np

In [23]:
player_stats = pd.read_csv('player_stats.csv')
player_stats.head(1)

,player,position,team,age,club,birth_year,games,games_starts,minutes,minutes_90s,...,goals_assists_pens_per90,xg,npxg,xg_assist,npxg_xg_assist,xg_per90,xg_assist_per90,xg_xg_assist_per90,npxg_per90,npxg_xg_assist_per90
0,Aaron Mooy,MF,Australia,32-094,Celtic,1990,4,4,360,4.0,...,0.0,0.0,0.0,0.1,0.1,0.01,0.02,0.03,0.01,0.03

In [24]:
playtime = pd.read_csv('player_playingtime.csv')
playtime.head(1)

,player,position,team,age,birth_year,games,minutes,minutes_per_game,minutes_pct,minutes_90s,...,on_goals_for,on_goals_against,plus_minus,plus_minus_per90,plus_minus_wowy,on_xg_for,on_xg_against,xg_plus_minus,xg_plus_minus_per90,xg_plus_minus_wowy
0,Aaron Long,DF,United States,30-067,1992,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
passing = pd.read_csv('player_passing.csv')
passing.head(1)

,player,position,team,age,birth_year,minutes_90s,passes_completed,passes,passes_pct,passes_total_distance,...,passes_pct_long,assists,xg_assist,pass_xa,xg_assist_net,assisted_shots,passes_into_final_third,passes_into_penalty_area,crosses_into_penalty_area,progressive_passes
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,170.0,217.0,78.3,2819.0,...,58.1,0,0.1,0.1,-0.1,1.0,22.0,1.0,0.0,14.0

In [26]:
possesion = pd.read_csv('player_possession.csv')
possesion.head(1)

,player,position,team,age,birth_year,minutes_90s,touches,touches_def_pen_area,touches_def_3rd,touches_mid_3rd,touches_att_3rd,touches_att_pen_area,touches_live_ball,dribbles_completed,dribbles,dribbles_completed_pct,miscontrols,dispossessed,passes_received,progressive_passes_received
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,255.0,14.0,62.0,168.0,26.0,0.0,255.0,2.0,3.0,66.7,5.0,4.0,152.0,1.0

In [27]:
misc = pd.read_csv('player_misc.csv')
misc.head(1)

,player,position,team,age,birth_year,minutes_90s,cards_yellow,cards_red,cards_yellow_red,fouls,...,crosses,interceptions,tackles_won,pens_won,pens_conceded,own_goals,ball_recoveries,aerials_won,aerials_lost,aerials_won_pct
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,1,0,0,4,...,10,3,6,0.0,0.0,0,35.0,2.0,3.0,40.0

In [28]:
shooting = pd.read_csv('player_shooting.csv')
shooting.head(1)

,player,position,team,age,birth_year,minutes_90s,goals,shots,shots_on_target,shots_on_target_pct,...,goals_per_shot_on_target,average_shot_distance,shots_free_kicks,pens_made,pens_att,xg,npxg,npxg_per_shot,xg_net,npxg_net
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,0,1,0,0.0,...,NaN,29.1,0.0,0,0,0.0,0.0,0.05,0.0,0.0

In [29]:
gca = pd.read_csv('player_gca.csv')
gca.head(1)

,player,position,team,age,birth_year,minutes_90s,sca,sca_per90,sca_passes_live,sca_passes_dead,...,sca_fouled,sca_defense,gca,gca_per90,gca_passes_live,gca_passes_dead,gca_dribbles,gca_shots,gca_fouled,gca_defense
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,5.0,1.25,2.0,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
defense = pd.read_csv('player_defense.csv')
defense.head(1)

,player,position,team,age,birth_year,minutes_90s,tackles,tackles_won,tackles_def_3rd,tackles_mid_3rd,...,dribbles_vs,dribble_tackles_pct,dribbled_past,blocks,blocked_shots,blocked_passes,interceptions,tackles_interceptions,clearances,errors
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,9.0,6,4.0,4.0,...,8.0,75.0,2.0,6.0,4.0,2.0,3,12.0,9.0,0.0

In [31]:
keepers = pd.read_csv('player_keepers.csv')

keepers_adv = pd.read_csv('player_keepersadv.csv')

__________

In [32]:
player_stats.columns

Index(['player', 'position', 'team', 'age', 'club', 'birth_year', 'games',
       'games_starts', 'minutes', 'minutes_90s', 'goals', 'assists',
       'goals_pens', 'pens_made', 'pens_att', 'cards_yellow', 'cards_red',
       'goals_per90', 'assists_per90', 'goals_assists_per90',
       'goals_pens_per90', 'goals_assists_pens_per90', 'xg', 'npxg',
       'xg_assist', 'npxg_xg_assist', 'xg_per90', 'xg_assist_per90',
       'xg_xg_assist_per90', 'npxg_per90', 'npxg_xg_assist_per90'],
      dtype='object')

In [33]:
geral = player_stats[['player', 'position', 'team', 'age', 'assists' , 'goals', 'cards_yellow', 'cards_red',]].copy()
geral['minutes_per_game'] = playtime['minutes_per_game']
geral[['touches', 'dribbles', 'dribbles_completed', 'passes_received']] = possesion[['touches', 'dribbles', 'dribbles_completed', 'passes_received']]
geral['passes_completed'] = passing['passes_completed']
geral[['fouls', 'fouled']] = misc[['fouls', 'fouled']]

In [34]:
geral

,player,position,team,age,assists,goals,cards_yellow,cards_red,minutes_per_game,touches,dribbles,dribbles_completed,passes_received,passes_completed,fouls,fouled
0,Aaron Mooy,MF,Australia,32-094,0,0,1,0,NaN,255.0,3.0,2.0,152.0,170.0,4,1
1,Aaron Ramsey,MF,Wales,31-357,0,0,1,0,90.0,147.0,8.0,2.0,98.0,88.0,3,3
2,Abdelhamid Sabiri,MF,Morocco,26-020,1,0,1,0,NaN,86.0,3.0,0.0,54.0,45.0,2,3
3,Abdelkarim Hassan,DF,Qatar,29-112,0,0,0,0,89.0,193.0,5.0,1.0,138.0,122.0,1,4
4,Abderrazak Hamdallah,FW,Morocco,32-001,0,0,0,0,36.0,28.0,3.0,2.0,18.0,8.0,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,Ángel Di María,MF,Argentina,34-307,1,1,0,0,29.0,201.0,25.0,13.0,163.0,130.0,0,7
676,Ángelo Preciado,DF,Ecuador,24-303,1,0,0,0,71.0,162.0,4.0,0.0,81.0,94.0,8,2
677,Éder Militão,DF,Brazil,24-334,0,0,1,0,10.0,306.0,0.0,0.0,217.0,251.0,7,3
678,Óscar Duarte,DF,Costa Rica,33-198,0,0,1,0,NaN,132.0,0.0,0.0,70.0,68.0,1,0
679,İlkay Gündoğan,MF,Germany,32-055,0,1,0,0,87.0,187.0,2.0,2.0,142.0,150.0,3,2

In [35]:
'FW' # crosses

fw = geral.query('position == "FW"').copy()
fw[['xg', 'shots','shots_on_target', 'shots_on_target_pct', 'goals_per_shot', 'goals_per_shot_on_target']] = shooting[['xg', 'shots','shots_on_target', 'shots_on_target_pct', 'goals_per_shot', 'goals_per_shot_on_target']]
fw['gca'] = gca['gca']
fw['crosses'] = misc['crosses']
fw

,player,position,team,age,assists,goals,cards_yellow,cards_red,minutes_per_game,touches,...,fouls,fouled,xg,shots,shots_on_target,shots_on_target_pct,goals_per_shot,goals_per_shot_on_target,gca,crosses
4,Abderrazak Hamdallah,FW,Morocco,32-001,0,0,0,0,36.0,28.0,...,3,2,0.4,2,1,50.0,0.00,0.00,0.0,0
5,Abdessamad Ezzalzouli,FW,Morocco,21-001,0,0,0,0,90.0,40.0,...,4,0,0.1,1,0,0.0,0.00,NaN,0.0,1
7,Abdul Fatawu Issahaku,FW,Ghana,18-285,0,0,0,0,31.0,2.0,...,0,0,0.0,0,0,NaN,NaN,NaN,0.0,0
19,Ahmed Alaaeldin,FW,Qatar,29-321,0,0,0,0,NaN,2.0,...,0,0,0.0,0,0,NaN,NaN,NaN,0.0,0
22,Akram Afif,FW,Qatar,26-030,0,0,1,0,74.0,181.0,...,2,6,0.0,2,0,0.0,0.00,NaN,0.0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Youssef En-Nesyri,FW,Morocco,25-200,0,2,0,0,90.0,127.0,...,2,4,1.2,9,3,33.3,0.22,0.67,0.0,0
666,Youssoufa Moukoko,FW,Germany,18-028,0,0,0,0,NaN,2.0,...,0,0,0.0,0,0,NaN,NaN,NaN,0.0,1
668,Yuki Soma,FW,Japan,25-296,0,0,0,0,71.0,26.0,...,2,3,0.2,3,0,0.0,0.00,NaN,0.0,6
671,Zakaria Aboukhlal,FW,Morocco,22-303,0,1,0,0,5.0,26.0,...,1,0,1.0,3,2,66.7,0.33,0.50,0.0,1
672,Álvaro Morata,FW,Spain,30-056,1,3,0,0,78.0,58.0,...,1,2,1.4,8,5,62.5,0.38,0.60,2.0,0

In [36]:
'MF' # interceptions, xg_assist (?)

mf = geral.query('position == "MF"').copy()

mf[['passes_completed_short', 'passes_short', 'passes_pct_short', 'passes_completed_medium', 'passes_medium', 'passes_pct_medium', 'passes_completed_long', 'passes_long', 'passes_pct_long', 'progressive_passes' ]] = passing[['passes_completed_short', 'passes_short', 'passes_pct_short', 'passes_completed_medium', 'passes_medium', 'passes_pct_medium', 'passes_completed_long', 'passes_long', 'passes_pct_long', 'progressive_passes' ]]

mf['crosses'] = misc['crosses']
mf['gca'] = gca['gca']
mf[['tackles', 'tackles_won', 'blocked_passes', 'interceptions']] = defense[['tackles', 'tackles_won', 'blocked_passes', 'interceptions']]
mf['xg_assist'] = player_stats['xg_assist']
mf

,player,position,team,age,assists,goals,cards_yellow,cards_red,minutes_per_game,touches,...,passes_long,passes_pct_long,progressive_passes,crosses,gca,tackles,tackles_won,blocked_passes,interceptions,xg_assist
0,Aaron Mooy,MF,Australia,32-094,0,0,1,0,NaN,255.0,...,31.0,58.1,14.0,10,0.0,9.0,6,2.0,3,0.1
1,Aaron Ramsey,MF,Wales,31-357,0,0,1,0,90.0,147.0,...,23.0,78.3,5.0,5,0.0,2.0,0,3.0,0,0.0
2,Abdelhamid Sabiri,MF,Morocco,26-020,1,0,1,0,NaN,86.0,...,10.0,70.0,0.0,1,1.0,3.0,1,2.0,5,0.9
8,Abdulaziz Hatem,MF,Qatar,32-051,0,0,0,0,83.0,98.0,...,6.0,66.7,1.0,1,0.0,1.0,1,0.0,1,0.0
10,Abdulellah Al-Malki,MF,Saudi Arabia,28-068,0,0,2,0,65.0,105.0,...,7.0,57.1,3.0,1,1.0,3.0,1,3.0,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,Yuto Nagatomo,MF,Japan,36-097,0,0,0,0,36.0,123.0,...,14.0,21.4,2.0,6,0.0,4.0,2,2.0,0,0.1
673,Álvaro Zamora,MF,Costa Rica,20-284,0,0,0,0,34.0,9.0,...,0.0,NaN,1.0,0,0.0,2.0,0,0.0,1,0.0
674,Ángel Correa,MF,Argentina,27-284,0,0,0,0,28.0,6.0,...,0.0,NaN,0.0,0,0.0,1.0,1,0.0,0,0.0
675,Ángel Di María,MF,Argentina,34-307,1,1,0,0,29.0,201.0,...,23.0,43.5,17.0,27,4.0,3.0,1,3.0,1,0.6
679,İlkay Gündoğan,MF,Germany,32-055,0,1,0,0,87.0,187.0,...,15.0,73.3,15.0,1,0.0,3.0,1,2.0,1,0.1

In [37]:
'DF' #  , ball_recoveries, pens_conceded, own_goals

df = geral.query('position == "DF"').copy()
df[['tackles', 'tackles_won', 'blocked_passes', 'interceptions', 'errors']] = defense[['tackles', 'tackles_won', 'blocked_passes', 'interceptions', 'errors']]
df[['aerials_won_pct', 'ball_recoveries', 'pens_conceded', 'own_goals']] =  misc[['aerials_won_pct', 'ball_recoveries', 'pens_conceded', 'own_goals']]
df

,player,position,team,age,assists,goals,cards_yellow,cards_red,minutes_per_game,touches,...,fouled,tackles,tackles_won,blocked_passes,interceptions,errors,aerials_won_pct,ball_recoveries,pens_conceded,own_goals
3,Abdelkarim Hassan,DF,Qatar,29-112,0,0,0,0,89.0,193.0,...,4,7.0,3,2.0,1,0.0,75.0,11.0,0.0,0
6,Abdou Diallo,DF,Senegal,26-228,0,0,0,0,17.0,210.0,...,0,2.0,2,0.0,1,0.0,53.8,17.0,0.0,0
9,Abdulelah Al-Amri,DF,Saudi Arabia,25-337,0,0,2,0,1.0,129.0,...,3,1.0,0,1.0,4,0.0,71.4,15.0,0.0,0
11,Abdullah Madu,DF,Saudi Arabia,29-156,0,0,1,0,61.0,19.0,...,0,1.0,0,1.0,0,0.0,50.0,2.0,0.0,0
13,Abolfazl Jalali,DF,IR Iran,24-175,0,0,1,0,45.0,34.0,...,4,0.0,0,0.0,0,0.0,NaN,3.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,Youssouf Sabaly,DF,Senegal,29-288,0,0,0,0,18.0,253.0,...,12,6.0,6,1.0,4,0.0,57.1,27.0,0.0,0
667,Youstin Salas,DF,Costa Rica,26-184,0,0,0,0,98.0,27.0,...,0,5.0,1,2.0,0,0.0,100.0,5.0,0.0,0
676,Ángelo Preciado,DF,Ecuador,24-303,1,0,0,0,71.0,162.0,...,2,7.0,5,2.0,6,0.0,60.0,10.0,0.0,0
677,Éder Militão,DF,Brazil,24-334,0,0,1,0,10.0,306.0,...,3,7.0,6,1.0,3,0.0,44.4,29.0,0.0,0
678,Óscar Duarte,DF,Costa Rica,33-198,0,0,1,0,NaN,132.0,...,0,4.0,2,2.0,6,0.0,40.0,9.0,1.0,0

In [38]:
'GK' # gk_goals_against, gk_shots_on_target_against, gk_save_pct # gk_clean_sheets, gk_pens_att, gk_pens_allowed, gk_pens_saved, gk_pens_save_pct, # gk_passes, gk_passes_completed_launched, gk_passes_length_avg, gk_goal_kick_length_avg, gk_crosses_stopped

gk = geral.query('position == "GK"').copy()

In [43]:
gk[['gk_goals_against', 'gk_shots_on_target_against', 'gk_save_pct', 'gk_clean_sheets', 'gk_pens_att', 'gk_pens_allowed', 'gk_pens_saved', 'gk_pens_save_pct']] = keepers[['gk_goals_against', 'gk_shots_on_target_against', 'gk_save_pct', 'gk_clean_sheets', 'gk_pens_att', 'gk_pens_allowed', 'gk_pens_saved', 'gk_pens_save_pct']]

gk[['gk_passes', 'gk_passes_completed_launched','gk_passes_length_avg', 'gk_goal_kick_length_avg', 'gk_crosses_stopped']] = keepers_adv[['gk_passes', 'gk_passes_completed_launched', 'gk_passes_length_avg', 'gk_goal_kick_length_avg', 'gk_crosses_stopped']]